{% extends "base.html" %}

{% block head %}
  <title>Trig Calculator</title>
{% endblock %}

{% block body %}

<div class="card m-5" style="width: 24rem;">
    <div class="card-body">
      {% if error %}
        <div class="alert alert-danger" role="alert">
          Invalid input!
        </div>
      {% endif %}
    <h5 class="card-title">Calculate Trig Function Values</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <p>
        Instructions: This program will output the sine, cosine, and tangent of a given number of radians. Enter a value to recieve the sine, cosine, and tangent of that value.
      </p>
    </h6>
    <div class="card-text">
      <form method="POST" action="">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter number of radians" name="radians" required />
          <input class="btn btn-outline-secondary" id="button-addon2" type="submit" value="calculate" />
        </div>
      </form>

      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Sine</th>
            <td>{{ sine }}</td>
          </tr>
          <tr>
            <th scope="row">Cosine</th>
            <td>{{ cosine }}</td>
          </tr>
          <tr>
            <th scope="row">Tangent</th>
            <td>{{ tangent }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
